<div class="container">
    <div id="client-logo">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <figure>
                    <img src="~/images/logos/applica-logo.png"
                         alt=""
                         style="height: 30px;" />
                </figure>
            </div>
            <div class="item">
                <figure>
                    <img src="~/images/logos/address-two-logo2.png" alt="" />
                </figure>
            </div>
            <div class="item">
                <figure>
                    <img src="~/images/logos/e-line-logo.png" alt="" />
                </figure>
            </div>
            <div class="item">
                <figure>
                    <img src="~/images/logos/livefree.png"
                         alt=""
                         style="height: 25px;" />
                </figure>
            </div>
            <div class="item">
                <figure>
                    <img src="~/images/logos/sherpadesk-logo.png"
                         alt=""
                         style="height: 45px;" />
                </figure>
            </div>
            <div class="item">
                <figure>
                    <img src="~/images/logos/trutha.png"
                         alt=""
                         style="height: 35px;" />
                </figure>
            </div>
            <div class="item">
                <figure>
                    <img src="~/images/logos/KYC-logo.png"
                         alt=""
                         style="height: 54px;" />
                </figure>
            </div>
            <div class="item">
                <figure>
                    <img src="~/images/logos/emerece.png" alt="" />
                </figure>
            </div>

            <div class="item">
                <figure>
                    <img src="~/images/logos/kreios.png"
                         alt=""
                         style="height: 54px;" />
                </figure>
            </div>
            <div class="item">
                <figure>
                    <img src="~/images/logos/mta-logo-lg.png"
                         alt=""
                         style="height: 55px;" />
                </figure>
            </div>
            <div class="item">
                <figure>
                    <img src="~/images/logos/office-hub-logo.png"
                         alt=""
                         style="height: 50px;" />
                </figure>
            </div>
            <div class="item">
                <figure>
                    <img src="~/images/logos/Princeton-logo.png"
                         alt=""
                         style="height: 48px;" />
                </figure>
            </div>
            <div class="item">
                <figure>
                    <img src="~/images/logos/Home-wizard-logo.png" alt="" />
                </figure>
            </div>

            <div class="item">
                <figure>
                    <img src="~/images/logos/nabler-logo.png"
                         alt=""
                         style="height: 36px;" />
                </figure>
            </div>

            <div class="item">
                <figure>
                    <img src="~/images/logos/OR-Logo-Site.png" alt="" />
                </figure>
            </div>
            <div class="item">
                <figure>
                    <img src="~/images/logos/WEDI-logo.png"
                         alt=""
                         style="height: 48px;" />
                </figure>
            </div>
            <div class="item">
                <figure>
                    <img src="~/images/logos/belifi.png"
                         alt=""
                         style="height: 50px;" />
                </figure>
            </div>
            <div class="item">
                <figure>
                    <img src="~/images/logos/increasing-smile.png" alt="" />
                </figure>
            </div>
            <div class="item">
                <figure>
                    <img src="~/images/logos/Immisys-LOGO.png" alt="" />
                </figure>
            </div>
            <div class="item">
                <figure>
                    <img src="~/images/logos/Entrusted-mail--logo.png"
                         alt=""
                         style="height: 50px;" />
                </figure>
            </div>
        </div>
    </div>
</div>
