<section class="team">
    <div class="container">
        <div class="common-heading">
            <span>// OUR SERVICE</span>
            <h3>
                Our Leadership Team
            </h3>
            <p>
                We help businesses elevate their value through custom software
                development, product design, QA and consultancy services.
            </p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="team-outer">
                    <figure>
                        <img src="~/images/team/Kapil-Sharma-1.jpg" class="d-block w-100" alt="" />
                        <ul>
                            <li>
                                <a target="_blank" href="https://twitter.com/kapilksharma26">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.facebook.com/kapssharma26">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.linkedin.com/in/kapil-sharma-74480771/">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.instagram.com/kapilkshrma/">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </figure>
                    <div class="name-div">
                        <h4>Kapil Sharma</h4>
                        <span>CEO</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-outer">
                    <figure>
                        <img src="~/images/team/Parampreet.jpg" class="d-block w-100" alt="" />
                        <ul>
                            <li>
                                <a target="_blank" href="https://twitter.com/parampreet479">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.facebook.com/parampreet.singh4">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.linkedin.com/in/parampreetsingh479">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.instagram.com/parampreet479/">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </figure>
                    <div class="name-div">
                        <h4>Parampreet Singh</h4>
                        <span>CTO</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-outer">
                    <figure>
                        <img src="~/images/team/Nipun1.jpg" class="d-block w-100" alt="" />
                    </figure>
                    <div class="name-div">
                        <h4>Nipun Tripathi</h4>
                        <span>SDM</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
