<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <a class="nav-link" href="/Home">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="javascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Company <i class="fa fa-angle-down ml-1" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/About">About Us</a>
                <a class="dropdown-item" href="/OurTeam">Our Team</a>
        <a class="dropdown-item" href="/Gallery">Gallery</a>
        <a class="dropdown-item" href="/WhyChooseUs">Why Choose Us</a>
</div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="javascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services <i class="fa fa-angle-down ml-1" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/WebDevelopment">Web Development</a>
                <a class="dropdown-item" href="/Mobile">Mobile Development</a>
                <a class="dropdown-item" href="/UIUXDesigns">UI/UX Design</a>
                <a class="dropdown-item" href="/DigitalMarketing">Digital Marketing</a>
                <a class="dropdown-item" href="/QaAndTesting">QA & Testing</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Career">Career</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Contact">Contacts</a>
        </li>
    </ul>
    <div>
        <a href="/Contact" class="hire-us-btn">Hire Us</a>
    </div>
</div>

