<div class="row">
    <div class="col-md-3">
        <h4>
            <span>
                <span class="timer count-number"
                      data-to="20"
                      data-speed="1500"></span> <span>+</span>
            </span>
        </h4>
        <p><span>.</span> Active Clients</p>
    </div>

    <div class="col-md-3">
        <h4>
            <span>
                <span class="timer count-number"
                      data-to="200"
                      data-speed="1500"></span> <span>+</span>
            </span>
        </h4>
        <p><span>.</span> Projects Done</p>
    </div>

    <div class="col-md-3">
        <h4>
            <span>
                <span class="timer count-number"
                      data-to="35"
                      data-speed="1500"></span> <span>+</span>
            </span>
        </h4>
        <p><span>.</span> Team Advisors</p>
    </div>

    <div class="col-md-3">
        <h4>
            <span>
                <span class="timer count-number"
                      data-to="8"
                      data-speed="1500"></span> <span>+</span>
            </span>
        </h4>
        <p><span>.</span> GLORIOUS YEARS</p>
    </div>
</div>