<ol>
    <li>
        <a target="_blank" href="https://twitter.com/Digisoft_Sol">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.facebook.com/DigiSoftSolution">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.linkedin.com/company/digisoft-solution">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a target="_blank" href="https://www.instagram.com/digisoft_solution/">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
    </li>
</ol>
