<div class="container">
    <div class="common-heading">
        <span>// OUR CLIENTS</span>
        <h3>
            We are Trusted<br />
            18+ Countries Worldwide
        </h3>
    </div>
    <div id="clients">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="testi-item">
                    <div class="layer1"></div>
                    <div class="layer2">
                        <div class="t-head">
                            <img src="~/images/testimonial/VirtuaBit.jpg"
                                 alt="VirtuaBit"
                                 class="lazyloaded" />
                            <div class="tinfo">
                                <h6>Rikard Micek</h6>
                                <span>CEO VirtuaBit</span>
                            </div>
                        </div>
                        <div class="ttext">
                            "Digisoft Solution delivered good work on .NET development project. Their communication was top-notch, met all deadlines, and skills were reasonably strong. The work done was in a professional manner. Highly recommended!!."
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi-item">
                    <div class="layer1"></div>
                    <div class="layer2">
                        <div class="t-head">
                            <img src="~/images/testimonial/UtilityClick.png"
                                 alt="UtilityClick"
                                 class="lazyloaded" />
                            <div class="tinfo">
                                <h6>Rod Westwood</h6>
                                <span>Director UtilityClick</span>
                            </div>
                        </div>
                        <div class="ttext">
                            "They demonstrated solid knowledge of the technologies and was very helpful throughout the whole project. Very responsive in translating our needs in concrete solutions. Great work. Great End Result, Went above and beyond to make sure every detail was perfect. Would definitely recommend team of Digisoft Solution.."
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi-item">
                    <div class="layer1"></div>
                    <div class="layer2">
                        <div class="t-head">
                            <img src="~/images/testimonial/mts.png"
                                 alt="MTS"
                                 class="lazyloaded" style="background-color:black;" />
                            <div class="tinfo">
                                <h6>Sara Williams</h6>
                                <span>Software Development Manager MTS</span>
                            </div>
                        </div>
                        <div class="ttext">
                            "Its an absolute delight to work with this team! Completes work before the deadline, knows craft, needs minimum briefing and fun to communicate with. Great work with UI also. I have hired them for a couple of jobs and will be hiring in the future as well. Highly Recommended!!"
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi-item">
                    <div class="layer1"></div>
                    <div class="layer2">
                        <div class="t-head">
                            <img src="~/images/logos/Immisys-LOGO.png"
                                 alt="Emilia Clarke"
                                 class="lazyloaded" />
                            <div class="tinfo">
                                <h6>Yonghan Lu</h6>
                                <span>CTO Immisys</span>
                            </div>
                        </div>
                        <div class="ttext">
                            "Digisoftian's has been a great resource. They worked on a number of complex projects involving payment solutions, e-commerce, Hospitality, and couponing solutions. They are talented MVC developers with strong MS SQL skills, and helped in converting number of Forms-based applications to MVC.."
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi-item">
                    <div class="layer1"></div>
                    <div class="layer2">
                        <div class="t-head">
                            <img src="~/images/testi2.png"
                                 alt="Advanced Technologies Integration"
                                 class="lazyloaded" />
                            <div class="tinfo">
                                <h6>Gabriel Padilla</h6>
                                <span>Principal Technologist ATI</span>
                            </div>
                        </div>
                        <div class="ttext">
                            "A pleasure to work with, very responsive and assimilated information quickly. Hit every deadline and met all deliverable. Code was clean, well-documented and easy to integrate into our existing codebase. Will definitely seek out again when I have a new project."
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi-item">
                    <div class="layer1"></div>
                    <div class="layer2">
                        <div class="t-head">
                            <img src="~/images/testimonial/Illuminate.png"
                                 alt="Illuminate"
                                 class="lazyloaded" />
                            <div class="tinfo">
                                <h6>Tim Gibbons</h6>
                                <span>CTO Illuminate</span>
                            </div>
                        </div>
                        <div class="ttext">
                            "They worked tirelessly and applied very impressive software development skills to deliver the project successfully. They always come up with the solutions, implement it and able to explain it clearly. I HIGHLY recommend them for any job and I promise you won't be let down!."
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>