@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}
<section class="sub-banner"
         style="background-image: url(/images/bg-pheader.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <h4 class="sub-heading">About Us</h4>
            </div>
            <div class="col-md-5">
                <ol>
                    <li><a href="/Home">Home</a></li>
                    <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        About Us
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="about-us inner-page-about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="common-heading">
                    <span>// WHAT WE OFFER</span>
                    <h3>
                        Your Partner for <br />
                        Software Innovation
                    </h3>
                </div>
                <p>
                    Engitech is the partner of choice for many of the world’s leading
                    enterprises, SMEs and technology challengers. We help businesses
                    elevate their value through custom software development, product
                    design, QA and consultancy services.
                </p>
                <em>
                    We can help to maintain and modernize your IT infrastructure and
                    solve various infrastructure-specific issues a business may face.
                </em>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">

                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="~/images/image-box1.jpg"
                                         class="w-100 d-block"
                                         alt="" />
                                    <div class="content-sec">
                                        <span>Our Mission</span>
                                    </div>
                                </div>
                                <div class="flip-card-back">
                                    <p>We can help to maintain and modernize your IT infrastructure and solve various infrastructure-specific issues a business may face.</p>

                                </div>
                            </div>
                        </div>
                        <div class="w-100 middle-pad"></div>


                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="~/images/image-box3.jpg"
                                         class="w-100 d-block"
                                         alt="" />
                                    <div class="content-sec">
                                        <span>Our Philosophy</span>
                                    </div>
                                </div>
                                <div class="flip-card-back">
                                    <p>We can help to maintain and modernize your IT infrastructure and solve various infrastructure-specific issues a business may face.</p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mt-3">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="~/images/image-box2.jpg"
                                         class="w-100 d-block"
                                         alt="" />
                                    <div class="content-sec">
                                        <span>Our Vision</span>
                                    </div>
                                </div>
                                <div class="flip-card-back">
                                    <p>We can help to maintain and modernize your IT infrastructure and solve various infrastructure-specific issues a business may face.</p>

                                </div>
                            </div>
                        </div>


                        <div class="w-100 middle-pad"></div>


                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="~/images/image-box4.jpg"
                                         class="w-100 d-block"
                                         alt="" />
                                    <div class="content-sec">
                                        <span>Our Strategy</span>
                                    </div>
                                </div>
                                <div class="flip-card-back">
                                    <p>We can help to maintain and modernize your IT infrastructure and solve various infrastructure-specific issues a business may face.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="clients-logo bg-light">
    @Html.Partial("_ClientLogo")
</section>

<section class="actually-do">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <figure>
                    <img src="~/images/image1-about.png" class="d-block w-100" alt="" />
                </figure>
            </div>
            <div class="col-lg-5">
                <div class="actually-content">
                    <div class="common-heading">
                        <span>// EXPERIENCE. EXECUTION. EXCELLENCE.</span>
                        <h3>
                            What We Actually Do
                        </h3>
                    </div>
                    <ul>
                        <li>
                            <img src="~/images/php.png" alt="" /><a href=""
                                                                            class="stretched-link"></a>
                        </li>
                        <li>
                            <img src="~/images/react.png" alt="" /><a href=""
                                                                              class="stretched-link"></a>
                        </li>
                        <li>
                            <img src="~/images/js.png" alt="" /><a href=""
                                                                           class="stretched-link"></a>
                        </li>
                        <li>
                            <img src="~/images/css.png" alt="" /><a href=""
                                                                            class="stretched-link"></a>
                        </li>
                    </ul>
                    <h6>PHP Website Development Services</h6>
                    <p>
                        Engitech is the partner of choice for many of the world’s
                        leading enterprises, SMEs and technology challengers. We help
                        businesses elevate their value through custom software
                        development, product design, QA and consultancy services.
                    </p>
                    <a href="" class="learn-more">
                        <span class="material-icons">
                            arrow_forward
                        </span>
                        Learn More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_Leadership")

<section class="some-points" id="about-points">
    <div class="container">
        <div class="points-outer">
            <div class="row">
                <div class="col-md-3">
                    <h4>
                        <span>
                            <span class="timer count-number"
                                  data-to="20"
                                  data-speed="1500"></span> <span>+</span>
                        </span>
                    </h4>
                    <p><span>.</span> Active Clients</p>
                </div>

                <div class="col-md-3">
                    <h4>
                        <span>
                            <span class="timer count-number"
                                  data-to="200"
                                  data-speed="1500"></span> <span>+</span>
                        </span>
                    </h4>
                    <p><span>.</span> Projects Done</p>
                </div>

                <div class="col-md-3">
                    <h4>
                        <span>
                            <span class="timer count-number"
                                  data-to="35"
                                  data-speed="1500"></span> <span>+</span>
                        </span>
                    </h4>
                    <p><span>.</span> Team Advisors</p>
                </div>

                <div class="col-md-3">
                    <h4>
                        <span>
                            <span class="timer count-number"
                                  data-to="8"
                                  data-speed="1500"></span> <span>+</span>
                        </span>
                    </h4>
                    <p><span>.</span> GLORIOUS YEARS</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="technology-index">
    <div class="container">
        <div class="skills">
            <div class="row">
                <div class="col-md-5">
                    <div class="common-heading">
                        <span>// TECHNOLOGY INDEX</span>
                        <h3>
                            Improve and Innovate <br />
                            with the Tech Trends
                        </h3>
                        <p>
                            We hire and build your own remote dedicated development teams
                            tailored to your specific needs.
                        </p>
                    </div>

                    <div class="custom-progress">
                        <div class="clearfix">
                            <span class="float-left pname">MOBILE DEVELOPMENT</span>
                            <span class="float-right ppercent">70%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar"
                                 role="progressbar"
                                 style="width: 70%;"
                                 aria-valuenow="25"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="custom-progress">
                        <div class="clearfix">
                            <span class="float-left pname">WEB DEVELOPMENT</span>
                            <span class="float-right ppercent">70%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar"
                                 role="progressbar"
                                 style="width: 70%;"
                                 aria-valuenow="25"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="custom-progress">
                        <div class="clearfix">
                            <span class="float-left pname">UI/UX DESIGN</span>
                            <span class="float-right ppercent">70%</span>
                        </div>
                        <div class="progress">
                            <div class="progress-bar"
                                 role="progressbar"
                                 style="width: 70%;"
                                 aria-valuenow="25"
                                 aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 offset-md-1">
                    <div class="technology-index-img">
                        <figure>
                            <img src="~/images/tech-index.jpg" class="d-block w-100" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var isFired = false;
    $(window).scroll(function () {
        var hT = $("#about-points").offset().top,
            hH = $("#about-points").outerHeight(),
            wH = $(window).height(),
            wS = $(this).scrollTop();
        if (wS > hT + hH - wH && !isFired) {
            isFired = true;
            (function ($) {
                $.fn.countTo = function (options) {
                    options = options || {};

                    return $(this).each(function () {
                        // set options for current element
                        var settings = $.extend(
                            {},
                            $.fn.countTo.defaults,
                            {
                                from: $(this).data("from"),
                                to: $(this).data("to"),
                                speed: $(this).data("speed"),
                                refreshInterval: $(this).data("refresh-interval"),
                                decimals: $(this).data("decimals"),
                            },
                            options
                        );

                        // how many times to update the value, and how much to increment the value on each update
                        var loops = Math.ceil(
                            settings.speed / settings.refreshInterval
                        ),
                            increment = (settings.to - settings.from) / loops;

                        // references & variables that will change with each update
                        var self = this,
                            $self = $(this),
                            loopCount = 0,
                            value = settings.from,
                            data = $self.data("countTo") || {};

                        $self.data("countTo", data);

                        // if an existing interval can be found, clear it first
                        if (data.interval) {
                            clearInterval(data.interval);
                        }
                        data.interval = setInterval(
                            updateTimer,
                            settings.refreshInterval
                        );

                        // initialize the element with the starting value
                        render(value);

                        function updateTimer() {
                            value += increment;
                            loopCount++;

                            render(value);

                            if (typeof settings.onUpdate == "function") {
                                settings.onUpdate.call(self, value);
                            }

                            if (loopCount >= loops) {
                                // remove the interval
                                $self.removeData("countTo");
                                clearInterval(data.interval);
                                value = settings.to;

                                if (typeof settings.onComplete == "function") {
                                    settings.onComplete.call(self, value);
                                }
                            }
                        }

                        function render(value) {
                            var formattedValue = settings.formatter.call(
                                self,
                                value,
                                settings
                            );
                            $self.html(formattedValue);
                        }
                    });
                };

                $.fn.countTo.defaults = {
                    from: 0, // the number the element should start at
                    to: 0, // the number the element should end at
                    speed: 1000, // how long it should take to count between the target numbers
                    refreshInterval: 100, // how often the element should be updated
                    decimals: 0, // the number of decimal places to show
                    formatter: formatter, // handler for formatting the value before rendering
                    onUpdate: null, // callback method for every time the element is updated
                    onComplete: null, // callback method for when the element finishes updating
                };

                function formatter(value, settings) {
                    return value.toFixed(settings.decimals);
                }
            })(jQuery);

            jQuery(function ($) {
                // custom formatting example
                $(".count-number").data("countToOptions", {
                    formatter: function (value, options) {
                        return value
                            .toFixed(options.decimals)
                            .replace(/\B(?=(?:\d{3})+(?!\d))/g, ",");
                    },
                });

                // start all the timers
                $(".timer").each(count);

                function count(options) {
                    var $this = $(this);
                    options = $.extend(
                        {},
                        options || {},
                        $this.data("countToOptions") || {}
                    );
                    $this.countTo(options);
                }
            });
        }
    });
</script>