@{
    ViewBag.Title = "Career";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<section class="sub-banner"
         style="background-image: url(/images/bg-pheader.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <h4 class="sub-heading">Career</h4>
            </div>
            <div class="col-md-5">
                <ol>
                    <li><a href="/Home">Home</a></li>
                    <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        Career
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="career-page">
    <div class="container">
        <div class="common-heading">
            <span>// Join with us</span>
            <h3>
                Become an insider
            </h3>
        </div>

        <div class="career-benifits">
            <div class="row">
                <div class="col-md-4">
                    <div class="inner-benifits">
                        <h4>Great colleagues</h4>
                        <p>
                            It is a long established fact that a reader will be distracted
                            by the readable content of a page when looking at its layout.
                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="inner-benifits">
                        <h4>Dont Stop Learning</h4>
                        <p>
                            It is a long established fact that a reader will be distracted
                            by the readable content of a page when looking at its layout.
                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="inner-benifits">
                        <h4>Fast Growing Company</h4>
                        <p>
                            It is a long established fact that a reader will be distracted
                            by the readable content of a page when looking at its layout.
                        </p>
                    </div>
                </div>

                <div class="w-100 mid-pad"></div>

                <div class="col-md-4">
                    <div class="inner-benifits">
                        <h4>Latest Technology Stack</h4>
                        <p>
                            It is a long established fact that a reader will be distracted
                            by the readable content of a page when looking at its layout.
                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="inner-benifits">
                        <h4>Great colleagues</h4>
                        <p>
                            It is a long established fact that a reader will be distracted
                            by the readable content of a page when looking at its layout.
                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="inner-benifits">
                        <h4>Great colleagues</h4>
                        <p>
                            It is a long established fact that a reader will be distracted
                            by the readable content of a page when looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="flip-jobs">
    <div class="container">
        <div class="common-heading">
            <span>// Join with us</span>
            <h3>
                Open Position
            </h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h4>.Net Developer</h4>
                            <h6>3 Positions</h6>
                        </div>
                        <div class="flip-card-back">
                            <p>
                                Demonstrable knowledge of Microsoft technologies such as
                                .NET, C#, SQL Server, MVC, ASP.NET, JavaScript, HTML, CSS and JQuery
                            </p>
                            <a href="javascript:;" class="fade_apply">Apply</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h4>Sr. .Net Developer</h4>
                            <h6>2 Positions</h6>
                        </div>
                        <div class="flip-card-back">
                            <p>
                                Demonstrable knowledge of Microsoft technologies such as
                                .NET, C#, SQL Server, MVC, .NET Core, ASP.NET, JavaScript, HTML, CSS and JQuery
                            </p>
                            <a href="javascript:;" class="fade_apply">Apply</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h4>Team Lead .Net</h4>
                            <h6>1 Position</h6>
                        </div>
                        <div class="flip-card-back">
                            <p>
                                Lead and mentor .NET developers and Ability to work on multiple projects with multiple deadlines
                            </p>
                            <a href="javascript:;" class="fade_apply">Apply</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-100 p-md-3"></div>

            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h4>.Net Trainee</h4>
                            <h6>5 Positions</h6>
                        </div>
                        <div class="flip-card-back">
                            <p>
                                Basic knowledge of technologies such as .NET, C#, SQL Server
                                JavaScript, HTML, CSS and JQuery
                            </p>
                            <a href="javascript:;" class="fade_apply">Apply</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h4>.Net Trainer</h4>
                            <h6>1 Position</h6>
                        </div>
                        <div class="flip-card-back">
                            <p>
                                Training the freshers for client projects
                            </p>
                            <a href="javascript:;" class="fade_apply">Apply</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="apply-form" id="fade_div" style="display:none;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="contact-form">
                    <h2>Apply for job</h2>
                    <p>
                        Your email address will not be published. Required fields are
                        marked *
                    </p>
                    <form action="" enctype="multipart/form-data" method="post" id ="fid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text"
                                           class="form-control"
                                           id="txtName"
                                           aria-describedby="emailHelp"
                                           placeholder="Your Name*" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email"
                                           class="form-control"
                                           id="txtEmail"
                                           aria-describedby="emailHelp"
                                           placeholder="Email Address*" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text"
                                           class="form-control"
                                           id="txtPhone"
                                           aria-describedby="emailHelp"
                                           placeholder="Phone Number*" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="custom-file">
                                    <input type="file"
                                           class="custom-file-input"
                                           id="customFile"
                                           data-max-size="5120"
                                           style="display:none"
                                           accept=".pdf,.docx,.doc" />
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>
                            </div>
                        </div>
                        <a onclick="sendCareerEmail();" class="btn">
                            Send Message
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

            // Add the following code if you want the name of the file appear on select
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this)
                    .siblings(".custom-file-label")
                    .addClass("selected")
                    .html(fileName);
            });


            $('#customFile').on( 'change', function() {
       var myfile= $( this ).val();
       var ext = myfile.split('.').pop();
       if($.inArray(ext, ['pdf','doc','docx']) == -1){
       alert('Please upload only pdf,doc,docx format files.');
                  return false;
       }
    });

  

        function sendCareerEmail()
        {
                if ($('#txtEmail').val() == "" || $('#txtName').val() == "" || $('#txtPhone').val() == "" || !isEmail($('#txtEmail').val())
                || $('#customFile').val() == "" )
                {
                    return false;
                }
                $(".loader-wraper").fadeIn("slow");
                var formData = new FormData();
                var fileInput = $('#customFile')[0].files[0];
                formData.append('Name',$('#txtName').val());
                formData.append('Email',$('#txtEmail').val());
                formData.append('PhoneNumber',$('#txtPhone').val());
                formData.append('Message', "");
                formData.append('File', fileInput);
                debugger
                 $.ajax({
                    type: "POST",
                    cache: false,
                    url: '@Url.Action("CareerSend", "Home")',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        debugger
                        if (response.success == true) {
                        $.notify("Thank you for your message! We will get back to you.", { color: "#0064b0", type: "info" });
                        $('#customFile').val('');
                        $('#txtEmail').val('');
                        $('#txtName').val('');
                        $('#txtPhone').val('');
                        $('.custom-file-label').text('Choose file');                      
                        $(".loader-wraper").fadeOut("slow");
                      }
                    }
                });
        }

</script>



<script>
    $(document).ready(function () {
        setTimeout(function () {
            $("#Designation").html(
                '<option value="TGT (English)">TGT (English)</option><option value="TGT (Music)">TGT (Music)</option><option value="PGT (Physics)">PGT (Physics)</option><option value="PGT (Psychology)">PGT (Psychology)</option><option value="Mother Teacher (KG)">Mother Teacher (KG)</option><option value="Librarian">Librarian</option><option value="Science Lab Assistant">Science Lab Assistant</option><option value="Lady Bus Attendants">Lady Bus Attendants</option>'
            );
        }, 1000);

        $(".fade_apply").click(function () {
            var title = $(this).attr("data-title");

            $("#Designation").val("" + title + "");

            $("#fade_div").fadeIn(1000);

            $("html, body").animate(
                {
                    scrollTop: $("#fade_div").offset().top,
                },
                1000
            );
        });
    });
</script>
