@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<section class="sub-banner"
         style="background-image: url(/images/bg-pheader.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <h4 class="sub-heading">Digital Marketing</h4>
            </div>
            <div class="col-md-5">
                <ol>
                    <li><a href="/Home">Home</a></li>
                    <li>
                        <a href="/Services">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>SERVICES
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        Digital Marketing
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="digital-marketing-page">
    <div class="container">
        <div class="common-heading">
            <span>// Digital Marketing</span>
            <h3>
                Digital Marketing
            </h3>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="single-box">
                    <div class="icon">
                        <i class="fa fa-pie-chart" aria-hidden="true"></i>
                    </div>
                    <h3>SEO Consultancy</h3>
                    <p>
                        We help you define your SEO objectives &amp; develop a realistic
                        strategy with you.
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="single-box">
                    <div class="icon">
                        <i class="fa fa-rocket" aria-hidden="true"></i>
                    </div>
                    <h3>Content Marketing</h3>
                    <p>
                        We help you define your SEO objectives &amp; develop a realistic
                        strategy with you.
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="single-box">
                    <div class="icon">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    </div>
                    <h3>Keyword Research</h3>
                    <p>
                        We help you define your SEO objectives &amp; develop a realistic
                        strategy with you.
                    </p>
                </div>
            </div>
        </div>

        <div class="four-image-sec">
            <div class="circle-pattern-2"></div>
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="row about-image">
                        <div class="col-6 col-md-6">
                            <div class="image custom-border-left-top">
                                <img src="~/images/about-img1.jpg" class="d-block w-100" alt="about" />
                            </div>
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="image custom-border-right-top">
                                <img src="~/images/about-img2.jpg" class="d-block w-100" alt="about" />
                            </div>
                        </div>
                        <div class="w-100 p-3 p-md-4"></div>
                        <div class="col-6 col-md-6">
                            <div class="image custom-border-left-bottom">
                                <img src="~/images/about-img3.jpg" class="d-block w-100" alt="about" />
                            </div>
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="image custom-border-right-bottom">
                                <img src="~/images/about-img4.jpg" class="d-block w-100" alt="about" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="about-text">
                        <div class="common-heading">
                            <span>// Best Digital Agency in the World</span>
                            <h3>
                                The #1 SEO Services Company
                            </h3>
                        </div>
                        <p>
                            We provide marketing services to startups and small businesses
                            to looking for a partner of their digital media, design &amp;
                            development, lead generation and communications requirents. We
                            work with you, not for you. Although we have a great
                            resources.
                        </p>
                        <p>
                            We are an experienced and talented team of passionate
                            consultants who live and breathe search engine marketing
                        </p>
                        <p>
                            We have developed search strategies for leading brands to
                            small and medium sized businesses across many industries in
                            the UK and worldwide.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="best-digital-marketing">
    <div class="container">
        <div class="common-heading text-md-left">
            <span>// We Work With You Not For You</span>
            <h3>
                We’r Provided Best <br />
                Digital Marketing Services!
            </h3>
            <p>
                We enjoy adapting our strategies to offer every client the best
                solutions that are at the forefront of the industry.
            </p>
        </div>

        <div class="best-points">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-services">
                        <div class="icon">
                            <i class="fa fa-pie-chart" aria-hidden="true"></i>
                        </div>
                        <h3>Strategy &amp; Research</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-services">
                        <div class="icon">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        </div>
                        <h3>Reports &amp; Analytics</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-services">
                        <div class="icon">
                            <i class="fa fa-rocket" aria-hidden="true"></i>
                        </div>
                        <h3>Managment &amp; Marketing</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-services">
                        <div class="icon">
                            <i class="fa fa-pie-chart" aria-hidden="true"></i>
                        </div>
                        <h3>Infographics Content</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-services">
                        <div class="icon">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </div>
                        <h3>Media Promotion</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-services">
                        <div class="icon">
                            <i class="fa fa-headphones" aria-hidden="true"></i>
                        </div>
                        <h3>Quick Support</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
