
<section class="main-banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/images/banner-home3.jpg);">
    <div class="container">
        <h2>// Over 8 Years, For Millions of Users</h2>
        <h1>POWERFUL<br />DIGITAL SOLUTIONS</h1>
        <div class="banner-services">
            <div class="row justify-content-center">
                <div class="col-4 col-md-2">
                    <div class="single-service">
                        <figure><img src="~/images/web.png" alt="" /></figure>
                        <span>
                            Web <br />
                            Development
                        </span>
                        <a href="/WebDevelopment" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-4 col-md-2">
                    <div class="single-service">
                        <figure><img src="~/images/mobile.png" alt="" /></figure>
                        <span>
                            Mobile <br />
                            Development
                        </span>
                        <a href="/Mobile" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-4 col-md-2">
                    <div class="single-service">
                        <figure><img src="~/images/ui-ux.png" alt="" /></figure>
                        <span>
                            UI/UX <br />
                            Design
                        </span>
                        <a href="/UIUXDesigns" class="stretched-link"></a>
                    </div>
                </div>
                <div class="w-100 d-md-none d-block mt-3"></div>
                <div class="col-4 col-md-2">
                    <div class="single-service">
                        <figure><img src="~/images/digital-marketing.png" alt="" /></figure>
                        <span>
                            Digital<br />
                            Marketing
                        </span>
                        <a href="/DigitalMarketing" class="stretched-link"></a>
                    </div>
                </div>
                <div class="col-4 col-md-2">
                    <div class="single-service">
                        <figure><img src="~/images/testing.png" alt="" /></figure>
                        <span>
                            QA &  <br />
                            Testing
                        </span>
                        <a href="/QaAndTesting" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="we-trusted common-padding" style="background-image: url(/images/bg-s1-home3.png);">
    <div class="container">
        <div class="common-heading">
            <span>// We Are DIGISOFTIANS</span>
            <h3>
                We are Trusted <br />
                18+ Countries Worldwide
            </h3>
        </div>
        <figure>
            <img src="~/images/image1-home3.png" alt="" class="d-block w-100" />
        </figure>
        @*<div class="three-points">
            <div class="row">
                <div class="col-md-4">
                    <div class="outer-points">
                        <div class="icon-main">
                            <span class="material-icons">
                                check
                            </span>
                        </div>
                        <div class="content-box">
                            <h5>Machine Learning</h5>
                            <p>Support and Evolution</p>
                        </div>
                        <span class="big-number">01</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="outer-points">
                        <div class="icon-main color-1">
                            <span class="material-icons">
                                check
                            </span>
                        </div>
                        <div class="content-box">
                            <h5>Artificial Intelligence</h5>
                            <p>Support and Evolution</p>
                        </div>
                        <span class="big-number">02</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="outer-points">
                        <div class="icon-main color-2">
                            <span class="material-icons">
                                check
                            </span>
                        </div>
                        <div class="content-box">
                            <h5>Augmented Reality</h5>
                            <p>Support and Evolution</p>
                        </div>
                        <span class="big-number">03</span>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</section>

<section class="about-us" style="background-image: url(/images/bg-s2-home3.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="common-heading">
                    <span>// technology index</span>
                    <h3>
                        Improve and Innovate <br />
                        with the Tech Trends
                    </h3>
                </div>
                <p>
                    We hire and build your own remote dedicated development teams
                    tailored to your specific needs. Get professional fulltime
                    developers who work exclusively for you as a part of your company.
                    We handle all the practical aspects related to hiring and hosting
                    your team at our premises, thus saving you half a cost and a lot
                    of efforts.
                </p>
                <div class="bottom-points" id="increase-number">
                    <div class="row">
                        <div class="col-4">
                            <div class="outer-achive">
                                <span>
                                    <span class="timer count-number"
                                          data-to="20"
                                          data-speed="1500"></span><span>+</span>
                                </span>
                                <h4>Active Clients</h4>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="outer-achive">
                                <span>
                                    <span class="timer count-number"
                                          data-to="200"
                                          data-speed="1500"></span><span>+</span>
                                </span>
                                <h4>Projects Done</h4>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="outer-achive">
                                <span>
                                    <span class="timer count-number"
                                          data-to="35"
                                          data-speed="1500"></span><span>+</span>
                                </span>
                                <h4>Team Advisors</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="~/images/image-box1.jpg"
                                         class="w-100 d-block"
                                         alt="" />
                                    <div class="content-sec">
                                        <span>Our Mission</span>
                                    </div>
                                </div>
                                <div class="flip-card-back">
                                    <p>We can help to maintain and modernize your IT infrastructure and solve various infrastructure-specific issues a business may face.</p>

                                </div>
                            </div>
                        </div>
                        <div class="w-100 middle-pad"></div>
                       

                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="~/images/image-box3.jpg"
                                         class="w-100 d-block"
                                         alt="" />
                                    <div class="content-sec">
                                        <span>Our Philosophy</span>
                                    </div>
                                </div>
                                <div class="flip-card-back">
                                    <p>We can help to maintain and modernize your IT infrastructure and solve various infrastructure-specific issues a business may face.</p>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mt-3">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="~/images/image-box2.jpg"
                                         class="w-100 d-block"
                                         alt="" />
                                    <div class="content-sec">
                                        <span>Our Vision</span>
                                    </div>
                                </div>
                                <div class="flip-card-back">
                                    <p>We can help to maintain and modernize your IT infrastructure and solve various infrastructure-specific issues a business may face.</p>

                                </div>
                            </div>
                        </div>


                        <div class="w-100 middle-pad"></div>
                        

                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="~/images/image-box4.jpg"
                                         class="w-100 d-block"
                                         alt="" />
                                    <div class="content-sec">
                                        <span>Our Strategy</span>
                                    </div>
                                </div>
                                <div class="flip-card-back">
                                    <p>We can help to maintain and modernize your IT infrastructure and solve various infrastructure-specific issues a business may face.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="clients-logo">
    @Html.Partial("_ClientLogo")
</section>

<section class="services">
    <div class="container">
        <div class="common-heading">
            <span>// OUR SERVICE</span>
            <h3>
                We Offer a Wide <br />
                Variety of IT Services
            </h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="outer-service">
                    <div class="icon-main">
                        <figure><img src="~/images/web.png" alt="" /></figure>
                    </div>
                    <div class="content-box">
                        <h5>Web Development</h5>
                        <div class="content-text">
                            We help businesses elevate their value through custom software
                            development, product design, QA and consultancy.

                            <ul>
                                <li class="active"><a href="#">Content Management System</a></li>
                                <li><a href="#">E-Commerce</a></li>
                                <li><a href="#">ERP</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="outer-service">
                    <div class="icon-main">
                        <figure><img src="~/images/mobile.png" alt="" /></figure>
                    </div>
                    <div class="content-box">
                        <h5>Mobile Development</h5>
                        <div class="content-text">
                            We help businesses elevate their value through custom software
                            development, product design, QA and consultancy.

                            <ul>
                                <li class="active"><a href="#">Development process</a></li>
                                <li><a href="#">Change management</a></li>
                                <li><a href="#">Application support</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="outer-service">
                    <div class="icon-main">
                        <figure><img src="~/images/ui-ux.png" alt="" /></figure>
                    </div>
                    <div class="content-box">
                        <h5>
                            UI/UX Design</h5>
                            <div class="content-text">
                                We help businesses elevate their value through custom software
                                development, product design, QA and consultancy.

                                <ul>
                                    <li class="active"><a href="#">Desktop applications</a></li>
                                    <li><a href="#">Software-as-a-Service</a></li>
                                    <li><a href="#">Mobile apps</a></li>
                                </ul>
                            </div>
</div>
                </div>
            </div>

            <div class="w-100 p-md-3"></div>
            <div class="col-md-4">
                <div class="outer-service">
                    <div class="icon-main">
                        <figure><img src="~/images/digital-marketing.png" alt="" /></figure>
                    </div>
                    <div class="content-box">
                        <h5>Digital Marketing</h5>
                        <div class="content-text">
                            We help businesses elevate their value through custom software
                            development, product design, QA and consultancy.

                            <ul>
                                <li class="active"><a href="#">Desktop applications</a></li>
                                <li><a href="#">Software-as-a-Service</a></li>
                                <li><a href="#">Mobile apps</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="outer-service">
                    <div class="icon-main">
                        <figure><img src="~/images/testing.png" alt="" /></figure>
                    </div>
                    <div class="content-box">
                        <h5>QA& Testing</h5>
                        <div class="content-text">
                            We help businesses elevate their value through custom software
                            development, product design, QA and consultancy.

                            <ul>
                                <li class="active"><a href="#">Desktop applications</a></li>
                                <li><a href="#">Software-as-a-Service</a></li>
                                <li><a href="#">Mobile apps</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-us">
    <div class="container">
        <div class="home-contact" style="background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)), url(/images/bg-cta1-home1.jpg);">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <div class="common-heading">
                        <span>// We Carry More Than Just Good Coding Skills</span>
                        <h3>
                            Let's Build Your Website!
                        </h3>
                    </div>
                </div>

                <div class="col-md-3 text-md-right">
                    <a href="/Contact" class="contact-button">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_Leadership")

<section class="consultation" style="background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/images/bg-cta-home2.jpg);">
    <div class="container">
        <div class="common-heading">
            <span>// Drop us a line! We are here to answer your questions 24/7</span>
            <h3>
                NEED A CONSULTATION?
            </h3>
            <a href="/Contact" class="contact-button">Contact us</a>
        </div>
    </div>
</section>

<section class="clients"
         style="
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
          url(/images/bg-maps-dots.jpg);
      ">
    @Html.Partial("_Testimonial")
</section>

@*<script>

    $(document).ready(function () {
    $("#client-logo .owl-carousel").owlCarousel({
        loop: false, // for looping
        autoplay: true, // for autoplay
        autoplayTimeout: 4000, // for autoplay timeout
        autoplayHoverPause: true, // for autoplay hover pause and play
        responsiveClass: false,
        margin: 0, // for right side margin
        nav: true, // for left right arrow show hide
        smartSpeed: 2000, // carousel smooth speed
        dots: false, // for show hide dots
        animateOut: "slideInDown", // for slide vertical
        animateIn: "slideOutDown", // for slide vertical
        center: false, // center slider
        stagePadding: 0, // padding for left and right
        autoWidth: false,
        responsive: {
            0: {
                items: 1,
                autoplayTimeout: 2000,
                nav: false,
            },

            767: {
                items: 2,
            },

            991: {
                items: 2,
                loop: true,
            },
        },
    });

    $(".owl-prev").html('<i class="fa fa-angle-left"></i>');
    $(".owl-next").html('<i class="fa fa-angle-right"></i>');
});
</script>*@
