
@{
    ViewBag.Title = "Mobile";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}


<section class="sub-banner"
         style="background-image: url(/images/bg-pheader.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <h4 class="sub-heading">Mobile Development</h4>
            </div>
            <div class="col-md-5">
                <ol>
                    <li><a href="/Index">Home</a></li>
                    <li>
                        <a href="/Services">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>SERVICES
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i> Mobile
                        Development
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="mobile-devlopment">
    <div class="container">
        <div class="common-heading">
            <span>// BUSINESS BENEFITS</span>
            <h3>
                Mobile Apps Benefits
            </h3>
        </div>
        <div class="important-things">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <div class="inner-things text-md-right" data-number="1">
                        <h5>Software as a Service</h5>
                        <p>
                            51% of smartphone users have discovered a new company or
                            product.
                        </p>
                        <img src="~/images/data--analytics.png" alt="" />
                    </div>

                    <div class="inner-things text-md-right" data-number="1">
                        <h5>Internet of Things</h5>
                        <p>
                            Move your SaaS products to mobile, Companies with a
                            professional mobile.
                        </p>
                        <img src="~/images/data--analytics.png" alt="" />
                    </div>

                    <div class="inner-things text-md-right" data-number="1">
                        <h5>Gambling & Betting</h5>
                        <p>
                            Develop a custom mobile app to thrive in a mobile market worth
                            over $100.
                        </p>
                        <img src="~/images/data--analytics.png" alt="" />
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="~/images/50.png" class="d-block w-100" alt="" />
                </div>
                <div class="col-md-4">
                    <div class="inner-things right-sec" data-number="1">
                        <h5>Social Media</h5>
                        <p>
                            80% of time users spend in social mediafrom their mobile
                            devices.
                        </p>
                        <img src="~/images/data--analytics.png" alt="" />
                    </div>

                    <div class="inner-things right-sec" data-number="1">
                        <h5>Business Management</h5>
                        <p>
                            65% of sales representatives have achieved their quotas by
                            adopting.
                        </p>
                        <img src="~/images/data--analytics.png" alt="" />
                    </div>

                    <div class="inner-things right-sec" data-number="1">
                        <h5>Trading Systems</h5>
                        <p>
                            We provide top-tier mobile app development services for
                            brokers.
                        </p>
                        <img src="~/images/data--analytics.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="happy-customer" id="happy-custo">
    <div class="row no-gutters">
        <div class="col-md-6 col-lg-3">
            <div class="inner-happy-customer-img">
                <img src="~/images/fun-fact1.jpg" alt="" />
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="inner-happy-content">
                <span class="s-num">
                    <span class="timer count-number"
                          data-to="15"
                          data-speed="1500"></span><span>+</span>
                </span>
                <h6>Countries Worldwide</h6>
                <p>
                    To succeed, every software solution must be deeply integrated into
                    the existing tech environment...
                </p>
                <a href="" class="learn-more">
                    <span class="material-icons">
                        arrow_forward
                    </span>
                    Learn More
                </a>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 order-md-1 order-lg-0">
            <div class="inner-happy-customer-img">
                <img src="~/images/fun-fact1.jpg" alt="" />
            </div>
        </div>

        <div class="col-md-6 col-lg-3 order-md-0 order-lg-1">
            <div class="inner-happy-content">
                <span class="s-num">
                    <span class="timer count-number"
                          data-to="2"
                          data-speed="1000"></span><span>k</span>
                </span>
                <h6>Countries Worldwide</h6>
                <p>
                    To succeed, every software solution must be deeply integrated into
                    the existing tech environment...
                </p>
                <a href="" class="learn-more">
                    <span class="material-icons">
                        arrow_forward
                    </span>
                    Learn More
                </a>
            </div>
        </div>
    </div>
</section>

<section class="about-us inner-page-about mobile-app">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="~/images/second-app.png" class="d-block w-100" alt="" />
            </div>
            <div class="col-md-6 col-lg-5 offset-lg-1">
                <div class="common-heading">
                    <span>// WHAT WE OFFER</span>
                    <h3>
                        Your Partner for <br />
                        Software Innovation
                    </h3>
                </div>
                <p>
                    Engitech is the partner of choice for many of the world’s leading
                    enterprises, SMEs and technology challengers. We help businesses
                    elevate their value through custom software development, product
                    design, QA and consultancy services.
                </p>
                <em>
                    We can help to maintain and modernize your IT infrastructure and
                    solve various infrastructure-specific issues a business may face.
                </em>
            </div>
        </div>
    </div>
</section>

<section class="case-studies">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="common-heading">
                    <span>// LATEST CASE STUDIES</span>
                    <h3>
                        Introduce Our Projects
                    </h3>
                </div>
            </div>
            <div class="col-md-7">
                <p>
                    Software development outsourcing is just a tool to achieve
                    business goals. But there is no way to get worthwhile results
                    without cooperation and trust between a client company.
                </p>
            </div>
        </div>
    </div>
    <div id="case-studies">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="outer-case">
                    <div class="img-case">
                        <img src="~/images/project8-720x520.jpg" alt="" />
                    </div>
                    <div class="content-case">
                        <h5>Analysis of Security</h5>
                        <h6>Ideas / Design</h6>
                        <span class="know-button">
                            <span class="material-icons">
                                arrow_forward
                            </span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="outer-case">
                    <div class="img-case">
                        <img src="~/images/project8-720x520.jpg" alt="" />
                    </div>
                    <div class="content-case">
                        <h5>Analysis of Security</h5>
                        <h6>Ideas / Design</h6>
                        <span class="know-button">
                            <span class="material-icons">
                                arrow_forward
                            </span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="outer-case">
                    <div class="img-case">
                        <img src="~/images/project8-720x520.jpg" alt="" />
                    </div>
                    <div class="content-case">
                        <h5>Analysis of Security</h5>
                        <h6>Ideas / Design</h6>
                        <span class="know-button">
                            <span class="material-icons">
                                arrow_forward
                            </span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="outer-case">
                    <div class="img-case">
                        <img src="~/images/project8-720x520.jpg" alt="" />
                    </div>
                    <div class="content-case">
                        <h5>Analysis of Security</h5>
                        <h6>Ideas / Design</h6>
                        <span class="know-button">
                            <span class="material-icons">
                                arrow_forward
                            </span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="outer-case">
                    <div class="img-case">
                        <img src="~/images/project8-720x520.jpg" alt="" />
                    </div>
                    <div class="content-case">
                        <h5>Analysis of Security</h5>
                        <h6>Ideas / Design</h6>
                        <span class="know-button">
                            <span class="material-icons">
                                arrow_forward
                            </span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="outer-case">
                    <div class="img-case">
                        <img src="~/images/project8-720x520.jpg" alt="" />
                    </div>
                    <div class="content-case">
                        <h5>Analysis of Security</h5>
                        <h6>Ideas / Design</h6>
                        <span class="know-button">
                            <span class="material-icons">
                                arrow_forward
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="some-points case-some-points" id="about-points">
    <div class="container">
        <div class="points-outer">
            <div class="row">
                <div class="col-md-3">
                    <h4>
                        <span>
                            <span class="timer count-number"
                                  data-to="20"
                                  data-speed="1500">20</span>
                            <span>+</span>
                        </span>
                    </h4>
                    <p><span>.</span> Active Clients</p>
                </div>

                <div class="col-md-3">
                    <h4>
                        <span>
                            <span class="timer count-number"
                                  data-to="200"
                                  data-speed="1500">200</span>
                            <span>+</span>
                        </span>
                    </h4>
                    <p><span>.</span> Projects Done</p>
                </div>

                <div class="col-md-3">
                    <h4>
                        <span>
                            <span class="timer count-number"
                                  data-to="30"
                                  data-speed="1500">30</span>
                            <span>+</span>
                        </span>
                    </h4>
                    <p><span>.</span> Team Advisors</p>
                </div>

                <div class="col-md-3">
                    <h4>
                        <span>
                            <span class="timer count-number"
                                  data-to="8"
                                  data-speed="1500">8</span>
                            <span>+</span>
                        </span>
                    </h4>
                    <p><span>.</span> GLORIOUS YEARS</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="what-we-serve">
    <div class="container">
        <div class="common-heading">
            <span>// BUSINESS INDUSTRIES</span>
            <h3>
                Business Industries <br />
                What We Serve
            </h3>
        </div>
    </div>
    <div id="what-we-serve">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="indus-item">
                    <div class="item-inner">
                        <div class="overlay"></div>
                        <div class="i-image">
                            <img src="~/images/g-image.png" alt="" />
                        </div>
                        <div class="iinfo">
                            <h6>Gaming &amp; Enterteinment</h6>
                            <div class="itext">
                                The global economy is moving towards a new identity. In
                                order to remain competitive and profitable, the banking and
                                finance.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="indus-item">
                    <div class="item-inner">
                        <div class="overlay"></div>
                        <div class="i-image">
                            <img src="~/images/t-image.png" alt="" />
                        </div>
                        <div class="iinfo">
                            <h6>Information Technology</h6>
                            <div class="itext">
                                The global economy is moving towards a new identity. In
                                order to remain competitive and profitable, the banking and
                                finance.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="indus-item">
                    <div class="item-inner">
                        <div class="overlay"></div>
                        <div class="i-image">
                            <img src="~/images/b-image.png" alt="" />
                        </div>
                        <div class="iinfo">
                            <h6>Business & Finance</h6>
                            <div class="itext">
                                The global economy is moving towards a new identity. In
                                order to remain competitive and profitable, the banking and
                                finance.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $("#what-we-serve .owl-carousel").owlCarousel({
            loop: true, // for looping
            autoplay: false, // for autoplay
            autoplayTimeout: 4000, // for autoplay timeout
            autoplayHoverPause: true, // for autoplay hover pause and play
            responsiveClass: false,
            margin: 0, // for right side margin
            nav: false, // for left right arrow show hide
            smartSpeed: 2000, // carousel smooth speed
            dots: true, // for show hide dots
            animateOut: "slideInDown", // for slide vertical
            animateIn: "slideOutDown", // for slide vertical
            center: true, // center slider
            stagePadding: 50, // padding for left and right
            autoWidth: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false,
                    stagePadding: 0
                },

                767: {
                    items: 1,
                },

                991: {
                    items: 2,
                    loop: true,
                },
                1199: {
                    items: 3,
                    loop: true,
                },
            },
        });

        $(".owl-prev").html('<i class="fa fa-angle-left"></i>');
        $(".owl-next").html('<i class="fa fa-angle-right"></i>');
    });
</script>



<script>
    var isFired = false;
    $(window).scroll(function () {
        var hT = $("#happy-custo").offset().top,
            hH = $("#happy-custo").outerHeight(),
            wH = $(window).height(),
            wS = $(this).scrollTop();
        console.log(hT - wH, wS);
        if (wS > hT + hH - wH && !isFired) {
            isFired = true;
            (function ($) {
                $.fn.countTo = function (options) {
                    options = options || {};

                    return $(this).each(function () {
                        // set options for current element
                        var settings = $.extend(
                            {},
                            $.fn.countTo.defaults,
                            {
                                from: $(this).data("from"),
                                to: $(this).data("to"),
                                speed: $(this).data("speed"),
                                refreshInterval: $(this).data("refresh-interval"),
                                decimals: $(this).data("decimals"),
                            },
                            options
                        );

                        // how many times to update the value, and how much to increment the value on each update
                        var loops = Math.ceil(
                            settings.speed / settings.refreshInterval
                        ),
                            increment = (settings.to - settings.from) / loops;

                        // references & variables that will change with each update
                        var self = this,
                            $self = $(this),
                            loopCount = 0,
                            value = settings.from,
                            data = $self.data("countTo") || {};

                        $self.data("countTo", data);

                        // if an existing interval can be found, clear it first
                        if (data.interval) {
                            clearInterval(data.interval);
                        }
                        data.interval = setInterval(
                            updateTimer,
                            settings.refreshInterval
                        );

                        // initialize the element with the starting value
                        render(value);

                        function updateTimer() {
                            value += increment;
                            loopCount++;

                            render(value);

                            if (typeof settings.onUpdate == "function") {
                                settings.onUpdate.call(self, value);
                            }

                            if (loopCount >= loops) {
                                // remove the interval
                                $self.removeData("countTo");
                                clearInterval(data.interval);
                                value = settings.to;

                                if (typeof settings.onComplete == "function") {
                                    settings.onComplete.call(self, value);
                                }
                            }
                        }

                        function render(value) {
                            var formattedValue = settings.formatter.call(
                                self,
                                value,
                                settings
                            );
                            $self.html(formattedValue);
                        }
                    });
                };

                $.fn.countTo.defaults = {
                    from: 0, // the number the element should start at
                    to: 0, // the number the element should end at
                    speed: 1000, // how long it should take to count between the target numbers
                    refreshInterval: 100, // how often the element should be updated
                    decimals: 0, // the number of decimal places to show
                    formatter: formatter, // handler for formatting the value before rendering
                    onUpdate: null, // callback method for every time the element is updated
                    onComplete: null, // callback method for when the element finishes updating
                };

                function formatter(value, settings) {
                    return value.toFixed(settings.decimals);
                }
            })(jQuery);

            jQuery(function ($) {
                // custom formatting example
                $(".count-number").data("countToOptions", {
                    formatter: function (value, options) {
                        return value
                            .toFixed(options.decimals)
                            .replace(/\B(?=(?:\d{3})+(?!\d))/g, ",");
                    },
                });

                // start all the timers
                $(".timer").each(count);

                function count(options) {
                    var $this = $(this);
                    options = $.extend(
                        {},
                        options || {},
                        $this.data("countToOptions") || {}
                    );
                    $this.countTo(options);
                }
            });
        }
    });
</script>

<script>
    var isFired = false;
    $(window).scroll(function () {
        var hT = $("#about-points").offset().top,
            hH = $("#about-points").outerHeight(),
            wH = $(window).height(),
            wS = $(this).scrollTop();
        console.log(hT - wH, wS);
        if (wS > hT + hH - wH && !isFired) {
            isFired = true;
            (function ($) {
                $.fn.countTo = function (options) {
                    options = options || {};

                    return $(this).each(function () {
                        // set options for current element
                        var settings = $.extend(
                            {},
                            $.fn.countTo.defaults,
                            {
                                from: $(this).data("from"),
                                to: $(this).data("to"),
                                speed: $(this).data("speed"),
                                refreshInterval: $(this).data("refresh-interval"),
                                decimals: $(this).data("decimals"),
                            },
                            options
                        );

                        // how many times to update the value, and how much to increment the value on each update
                        var loops = Math.ceil(
                            settings.speed / settings.refreshInterval
                        ),
                            increment = (settings.to - settings.from) / loops;

                        // references & variables that will change with each update
                        var self = this,
                            $self = $(this),
                            loopCount = 0,
                            value = settings.from,
                            data = $self.data("countTo") || {};

                        $self.data("countTo", data);

                        // if an existing interval can be found, clear it first
                        if (data.interval) {
                            clearInterval(data.interval);
                        }
                        data.interval = setInterval(
                            updateTimer,
                            settings.refreshInterval
                        );

                        // initialize the element with the starting value
                        render(value);

                        function updateTimer() {
                            value += increment;
                            loopCount++;

                            render(value);

                            if (typeof settings.onUpdate == "function") {
                                settings.onUpdate.call(self, value);
                            }

                            if (loopCount >= loops) {
                                // remove the interval
                                $self.removeData("countTo");
                                clearInterval(data.interval);
                                value = settings.to;

                                if (typeof settings.onComplete == "function") {
                                    settings.onComplete.call(self, value);
                                }
                            }
                        }

                        function render(value) {
                            var formattedValue = settings.formatter.call(
                                self,
                                value,
                                settings
                            );
                            $self.html(formattedValue);
                        }
                    });
                };

                $.fn.countTo.defaults = {
                    from: 0, // the number the element should start at
                    to: 0, // the number the element should end at
                    speed: 1000, // how long it should take to count between the target numbers
                    refreshInterval: 100, // how often the element should be updated
                    decimals: 0, // the number of decimal places to show
                    formatter: formatter, // handler for formatting the value before rendering
                    onUpdate: null, // callback method for every time the element is updated
                    onComplete: null, // callback method for when the element finishes updating
                };

                function formatter(value, settings) {
                    return value.toFixed(settings.decimals);
                }
            })(jQuery);

            jQuery(function ($) {
                // custom formatting example
                $(".count-number").data("countToOptions", {
                    formatter: function (value, options) {
                        return value
                            .toFixed(options.decimals)
                            .replace(/\B(?=(?:\d{3})+(?!\d))/g, ",");
                    },
                });

                // start all the timers
                $(".timer").each(count);

                function count(options) {
                    var $this = $(this);
                    options = $.extend(
                        {},
                        options || {},
                        $this.data("countToOptions") || {}
                    );
                    $this.countTo(options);
                }
            });
        }
    });
</script>

