
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<section class="sub-banner"
         style="background-image: url(/images/bg-pheader.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <h4 class="sub-heading">Our Team</h4>
            </div>
            <div class="col-md-5">
                <ol>
                    <li><a href="/Home">Home</a></li>
                    <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        Our Team
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="our-team"
         style="background-image: url(/images/top-team.png);">
    <div class="container">
        <div class="common-heading">
            <h3>
                Meet the Team of Innovators!
            </h3>
        </div>
    </div>
</section>

<section class="team change-back-color">
    <div class="container">
        <div class="common-heading">
            <span>// OUR SERVICE</span>
            <h3>
                Our Leadership Team
            </h3>
            <p>
                We help businesses elevate their value through custom software
                development, product design, QA and consultancy services.
            </p>
        </div>
        <div class="row no-gutters">
            <div class="col-md-3">
                <div class="team-outer">
                    <figure>
                        <img src="~/images/team/Kapil-Sharma-1.jpg" class="d-block w-100" alt="" />
                        <ul>
                            <li>
                                <a target="_blank" href="https://twitter.com/kapilksharma26">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.facebook.com/kapssharma26">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.linkedin.com/in/kapil-sharma-74480771/">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.instagram.com/kapilkshrma/">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </figure>
                    <div class="name-div">
                        <h4>Kapil Sharma</h4>
                        <span>Chief Executive Officer</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team-outer">
                    <figure>
                        <img src="~/images/team/Parampreet.jpg" class="d-block w-100" alt="" />
                        <ul>
                            <li>
                                <a target="_blank" href="https://twitter.com/parampreet479">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.facebook.com/parampreet.singh4">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.linkedin.com/in/parampreetsingh479">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.instagram.com/parampreet479/">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </figure>
                    <div class="name-div">
                        <h4>Parampreet Singh</h4>
                        <span>Chief Technology Officer</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-outer">
                    <figure>
                        <img src="~/images/team/Nipun1.jpg" class="d-block w-100" alt="" />
                    </figure>
                    <div class="name-div">
                        <h4>Nipun Tripathi</h4>
                        <span>Software Development Manager (Founding Member)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-outer">
                    <figure>
                        <img src="~/images/team/Hardeep-Kaur.jpg" class="d-block w-100" alt="" />
                        <ul>
                            <li>
                                <a target="_blank" href="">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </figure>
                    <div class="name-div">
                        <h4>Hardeep Kaur</h4>
                        <span>Operational Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-outer">
                    <figure>
                        <img src="~/images/team/Mukesh-Kumar.jpg" class="d-block w-100" alt="" />
                    </figure>
                    <div class="name-div">
                        <h4>Mukesh Kumar</h4>
                        <span>Team Lead – .Net & Angular</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team-outer">
                    <figure>
                        <img src="~/images/team/Gourav-Kumar.jpg" class="d-block w-100" alt="" />
                    </figure>
                    <div class="name-div">
                        <h4>Gaurav Kumar</h4>
                        <span>Team Lead – PHP</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-outer">
                    <figure>
                        <img src="~/images/team/Rinku-Kumar.jpg" class="d-block w-100" alt="" />
                    </figure>
                    <div class="name-div">
                        <h4>Rinku Kumar</h4>
                        <span>Team Lead – .Net</span>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team-outer">
                    <figure>
                        <img src="~/images/team/Kanchan-Dhiman-1.jpg" class="d-block w-100" alt="" />
                    </figure>
                    <div class="name-div">
                        <h4>Kanchan Dhiman</h4>
                        <span>Business Development Manager</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-us team-contact">
    <div class="container">
        <div class="home-contact"
             style="
            background-image: linear-gradient(
                rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 0)
              ),
              url(/images/bg-cta1.jpg);
          ">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <div class="common-heading">
                        <span>// We Carry More Than Just Good Coding Skills</span>
                        <h3>
                            Let's Build Your Website!
                        </h3>
                    </div>
                </div>

                <div class="col-md-3 text-right">
                    <a href="/Contact" class="contact-button">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="clients"
         style="
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
          url(/images/bg-maps-dots.jpg);
      ">
    @Html.Partial("_Testimonial")
</section>
