
@{
    ViewBag.Title = "WebDevlopment";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<section class="sub-banner"
         style="background-image: url(/images/bg-pheader.jpg);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h4 class="sub-heading">Web Development</h4>
            </div>
            <div class="col-md-6">
                <ol>
                    <li><a href="/Home">Home</a></li>
                    <li>
                        <a href="/Services">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>SERVICES
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-caret-right" aria-hidden="true"></i> Web
                        Development
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="web-devlopment">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-md-none d-lg-block">
                <div class="back-logo">
                    <figure>
                        <img src="~/images/pic1-service1.png" alt="" class="d-block w-100" />
                    </figure>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-web-content">
                    <div class="common-heading">
                        <span> // ABOUT SERVICE</span>
                        <h3>
                            We Provide Best <br />
                            Web Development
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="services-points">
                                <span>01.</span>
                                <h5>.NET Development</h5>
                                <p>
                                    We’re committed to building sustainable and high-quality
                                    .NET solutions.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="services-points">
                                <span>02.</span>
                                <h5>PHP Development</h5>
                                <p>
                                    We’re committed to building sustainable and high-quality
                                    PHP solutions.
                                </p>
                            </div>
                        </div>
                        <div class="w-100 p-md-3"></div>
                        <div class="col-md-6">
                            <div class="services-points">
                                <span>03.</span>
                                <h5>CMS Development</h5>
                                <p>
                                    We’re committed to building sustainable and high-quality
                                    CmS solutions.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="services-points">
                                <span>04.</span>
                                <h5>Python Development</h5>
                                <p>
                                    We’re committed to building sustainable and high-quality
                                    Python solutions.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="production-process">
    <div class="row no-gutters">
        <div class="col-md-6">
            <div class="left-content-sec">
                <div class="common-heading">
                    <span>// TECHNOLOGY INDEX</span>
                    <h3>
                        We Organize Our <br />
                        Production Process
                    </h3>
                </div>
                <div class="custom-tabs">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active"
                               id="pills-home-tab"
                               data-toggle="pill"
                               href="#pills-home"
                               role="tab"
                               aria-controls="pills-home"
                               aria-selected="true">Analysis</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link"
                               id="pills-profile-tab"
                               data-toggle="pill"
                               href="#pills-profile"
                               role="tab"
                               aria-controls="pills-profile"
                               aria-selected="false">Design</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link"
                               id="pills-contact-tab"
                               data-toggle="pill"
                               href="#pills-contact"
                               role="tab"
                               aria-controls="pills-contact"
                               aria-selected="false">Testing</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active"
                             id="pills-home"
                             role="tabpanel"
                             aria-labelledby="pills-home-tab">
                            <p>
                                Engitech is the partner of choice for many of the world’s
                                leading enterprises, SMEs and technology challengers. We
                                help businesses elevate their value through custom software
                                development, product design, QA and consultancy services.
                                Our product design service lets you prototype, test and
                                validate your ideas.
                            </p>
                            <a href="" class="learn-more">
                                <span class="material-icons">
                                    arrow_forward
                                </span>
                                Learn More
                            </a>
                        </div>
                        <div class="tab-pane fade"
                             id="pills-profile"
                             role="tabpanel"
                             aria-labelledby="pills-profile-tab">
                            <p>
                                While integrating the security with the DevOps approach has
                                always been of high demand, this requires a completely
                                different range of processes and tools. DevOps is already
                                known to boast of an agile development methodology. Now when
                                the inputs of the security experts I’ll be brought in a
                                collaborative environment, the project will have an array of
                                effective security safeguards.
                            </p>
                            <a href="" class="learn-more">
                                <span class="material-icons">
                                    arrow_forward
                                </span>
                                Learn More
                            </a>
                        </div>
                        <div class="tab-pane fade"
                             id="pills-contact"
                             role="tabpanel"
                             aria-labelledby="pills-contact-tab">
                            <p>
                                In spite of disturbing the agile development process of the
                                DevOps approach, the additional security inputs only enhance
                                the safeguards and reliability of the project. So, in a way,
                                DevSecOps will only extend the benefits of a DevOps approach
                                further with security inputs. DevOps is already known to
                                boast of an agile development methodology.
                            </p>
                            <a href="" class="learn-more">
                                <span class="material-icons">
                                    arrow_forward
                                </span>
                                Learn More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="video-thumbnail h-100">
                <figure class="h-100">
                    <img src="~/images/bg1-service1.jpg" class="d-block w-100" alt="" />
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="clients-logo">
    @Html.Partial("_ClientLogo")
</section>

<section class="clients bg-light"
         style=" background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/images/bg-maps-dots-alt.jpg); ">
    @Html.Partial("_Testimonial")
</section>

